@charset "UTF-8";

body{
    font-family: "游ゴシック体", "Yu Gothic" , YuGothic , sans-serif , "ヒラギノ角ゴ ProN";
}
.secTit{
    font-family: "游明朝体", "Yu Mincho", YuMincho;
    font-size: 45px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
a{
    text-decoration: none
}
a:hover{
    color: gray;
}
a:visited{
    color: black;
}
@media screen and (max-width:650px){
    .secTit{
        font-size: 35px;
        letter-spacing: 1px;
    }
}

/* 改行設定 */

.brPc{
    display: block;
}
.brSp{
    display: none;
}

@media screen and (max-width:650px) {
    .brPc{
        display: none;
    }
    .brSp{
        display: block;
    }
}


/* ヘッダーメニュー */

.headerMenu{
    font-size: 15px;
    color: black;
    float: right;
    padding-top: 15px;
}
.headerMenu ul{

}
.headerMenu li{
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}
.headerMenu li:nth-child(1)::before{
    font-family: FontAwesome;
    font-weight: 900;
    content: "\f004";
    padding-right: 5px;
    
}
.headerMenu li:nth-child(2)::before{
    font-family: FontAwesome;
    content: "\f07a";
    font-weight: 400;
    padding-right: 5px;
}
.headerMenu li:nth-child(3)::before{
    font-family: FontAwesome;
    content: "\f002";
    font-weight: 400;
    padding-right: 5px;
}
.headerMenu li:nth-child(4){
    display: none;
}
@media screen and (max-width:414px){
    .headerMenu li{
        padding: 0 10px 0 0;
    }
    .headerMenu li:nth-child(4){
        display: inline-block;
    }
    .headerMenu li:nth-child(4)::before{
        font-family: FontAwesome;
        content: "\f0c9";
        font-weight: 400;
        padding-right: 5px;
    }
}

/* メインロゴ */

.secLogo{
    width: 160px;
    margin: auto;
    padding: 50px 0 20px 0;
}
@media screen and (max-width:414px) {
    .secLogo{
        width: 40%;
        padding-top: 60px;
    }
    .secLogo img{
        width: 100%;
    }
}

/* メインイメージ */

.mainImg{
    width: 100%;
    height: 500px;
    background: darkslategray;
}
.mainImg img{
    float: right;
}
@media screen and (min-width:415px) and (max-width:1100px) {
    .mainImg{
        width: 100%;
        height: auto;
        background: none;
    }
    .mainImg img{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width:414px) {
    .mainImg{
        width: 100%;
        height: auto;
        background: none;
    }
    .mainImg img{
        float: none;
        width: 100%;
    }
}


/* Gナビ */

.gNavi{
    font-family: "游明朝体", "Yu Mincho", YuMincho;
    font-size: 17px;
    height: 60px;
    padding-top: 20px;

}
.gNavi ul{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.gNavi li{
    display: inline-block;
    list-style: none;
    padding: 0 50px;
}
@media screen and (min-width:415px) and (max-width:1100px) {
    .gNavi{
        text-align: center;
    }
    .gNavi ul{
        width: 100%;
        float: none;
    }
    .gNavi li{
        padding: 0 20px;
    }
}
@media screen and (max-width:414px) {
    .gNavi{
        display: none;
    }
}

/* ABOUT */

.secAbout{
    text-align: center;
    padding-top: 30px;
}
.secAbout .subTit{
    font-family: "游明朝体", "Yu Mincho", YuMincho;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0 20px 0;
}
.secAbout .txt{
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 1px;
    
}
@media screen and (max-width:650px) {
    .secAbout .txt{
        font-size: 13px;
        line-height: 25px;
    }
}

/* LESSONS */

.secLessons{
    text-align: center;
    padding-top: 50px;
}
.secLessons .secList{
    min-height: 370px;
    background: #ae5da1;
}
.secLessons .secList ul{
    padding: 30px 0 20px 0;
}
.secLessons .secList li{
    display: inline-block;
    list-style: none;
    padding: 15px;
}
.secLessons .secList .tit{
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
}
.secLessons .secList .price{
    text-align: left;
    color: white;
    font-size: 13px;
}
.secLessons .secBtn{
    font-family: "游明朝体", "Yu Mincho", YuMincho;
    margin: 40px 0 30px 0;
}
.secLessons .secBtn a{
    padding: 15px 60px 15px 60px;
    border: black solid 1px;
}
@media screen and (min-width:415px) and (max-width:1100px) {
    .secLessons .secList li{
        width: 45%;
    }
    .secLessons .secList li img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:414px) {
    .secLessons .secList li{
        width: 90%;
    }
    .secLessons .secList li img{
        width: 100%;
        height: auto;
    }
}

/* GALLERY */

.secGallery{
    text-align: center;
    padding-top: 50px;
}
.secGallery .secList{
    min-height: 320px;
    background: #003567;
}
.secGallery .secList ul{
    padding: 30px 0 20px 0;
}
.secGallery .secList li{
    display: inline-block;
    list-style: none;
    padding: 15px;
}
.secGallery .secBtn{
    font-family: "游明朝体", "Yu Mincho", YuMincho;
    margin: 40px 0 30px 0;
}
.secGallery .secBtn a{
    padding: 15px 60px 15px 60px;
    border: black solid 1px;
}
@media screen and (min-width:415px) and (max-width:1100px) {
    .secGallery .secList li{
        width: 45%;
    }
    .secGallery .secList li img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:414px) {
    .secGallery .secList li{
        width: 90%;
    }
    .secGallery .secList li img{
        width: 100%;
        height: auto;
    }
}

/* NEWS */

.secNews{
    text-align: center;
    padding-top: 50px;
}
.secNews .secList ul{
    padding-bottom: 50px;
}
.secNews .secList li{
    display: block;
    list-style: none;
    padding: 15px;
}
.secNews .date{
    display: inline;
    padding-right: 50px;
}
.secNews .newsTit{
    display: inline;
}
@media screen and (max-width:414px) {
    .secNews .secList ul{
        text-align: left;
    }
    .secNews .secList li{
        padding-bottom: 0;
    }
    .secNews .date{
        display: block;
        font-size: 15px;
        padding-bottom: 10px;
    }
    .secNews .newsTit{
        display: block;
        font-size: 13px;
        line-height: 20px;
    }
}

/* フッター */

.footer{
    height: 300px;
    background: #5f52a0;
}